body {
  display: flex;
  justify-content: center;
}
.weather-App {
  border: 2px solid skyblue;
  width: 50vw;
  text-align: center;
  margin: 2rem;
  color: skyblue;
  box-shadow: 3px 2px 2px 3px rgb(155, 213, 243);
}
.inputCity {
  width: 70%;
  background-color: rgb(203, 234, 247);
  border: 1px solid rgb(187, 225, 245);

  border-radius: 25px;
  height: 35px;
  color: gray;
  font-size: 22px;
  padding-left: 30px;
}
